1. Create a table called employees with the following structure?
: emp_id (integer, should not be NULL and should be a primary key)
: emp_name (text, should not be NULL)
: age (integer, should have a check constraint to ensure the age is at least 18)
: email (text, should be unique for each employee)
: salary (decimal, with a default value of 30,000).
Write the SQL query to create the above table with all constraints.

In [ ]:
import sqlite3

# Connect to an in-memory SQLite database (or a file-based one)
conn = sqlite3.connect(':memory:')  # Use 'yourfile.db' for a file
cursor = conn.cursor()

# Create table with SQL query
cursor.execute('''
CREATE TABLE employees (
    emp_id INTEGER PRIMARY KEY NOT NULL,
    emp_name TEXT NOT NULL,
    age INTEGER CHECK (age >= 18),
    email TEXT UNIQUE,
    salary DECIMAL DEFAULT 30000
)
''')

print("Table 'employees' created successfully.")

# Optional: close connection
conn.close()

2.  Explain the purpose of constraints and how they help maintain data integrity in a database. Provide examples of common types of constraints?

ans.


### Purpose of Constraints in a Database

**Constraints** are rules enforced on data in a table to ensure the accuracy, consistency, and reliability of the information stored. They help maintain **data integrity** by restricting the type of data that can be entered into a table.



### Why Constraints Are Important

* Ensure that only valid data is entered into the database (e.g., no negative ages)
* Enforce business rules (e.g., employees must be at least 18 years old)
* Prevent data duplication (e.g., duplicate email addresses)
* Maintain relationships between tables correctly (e.g., ensuring a foreign key exists in the related table)



### Common Types of Constraints (with Examples)

| Constraint Type | Description                                                           | Example Usage                                     |
| --------------- | --------------------------------------------------------------------- | ------------------------------------------------- |
| PRIMARY KEY     | Uniquely identifies each row. Cannot be null or duplicate.            | `emp_id INTEGER PRIMARY KEY`                      |
| NOT NULL        | Ensures that a column cannot have null values.                        | `emp_name TEXT NOT NULL`                          |
| UNIQUE          | Ensures all values in a column are different.                         | `email TEXT UNIQUE`                               |
| CHECK           | Restricts the range of values in a column.                            | `age INTEGER CHECK (age >= 18)`                   |
| DEFAULT         | Provides a default value for a column if none is supplied.            | `salary DECIMAL DEFAULT 30000`                    |
| FOREIGN KEY     | Maintains referential integrity by linking to a key in another table. | `dept_id INTEGER REFERENCES departments(dept_id)` |

In [ ]:
import sqlite3

conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE employees (
    emp_id INTEGER PRIMARY KEY NOT NULL,
    emp_name TEXT NOT NULL,
    age INTEGER CHECK (age >= 18),
    email TEXT UNIQUE,
    salary DECIMAL DEFAULT 30000
)
''')

print("Table created successfully.")
conn.close()

3.Why would you apply the NOT NULL constraint to a column? Can a primary key contain NULL values? Justify your answer?

ans. The NOT NULL constraint is used to ensure that a column must always have a value. It prevents the insertion of NULL (i.e., missing or undefined) values into the column.

Use Cases:

For mandatory fields like emp_name or email where missing data would make the record incomplete.

To prevent logical or business errors in data processing or reporting.

Can a Primary Key Contain NULL?
No. A primary key cannot contain NULL values.

A primary key uniquely identifies each row in a table.

Since NULL represents an unknown value, allowing NULL would violate uniqueness.

Therefore, SQL automatically applies NOT NULL to primary key columns.

In [ ]:
import sqlite3

# Connect to in-memory database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create a table with NOT NULL and PRIMARY KEY constraints
cursor.execute('''
CREATE TABLE employees (
    emp_id INTEGER PRIMARY KEY,           -- Cannot be NULL or duplicate
    emp_name TEXT NOT NULL,               -- Cannot be NULL
    age INTEGER CHECK (age >= 18),        -- Must be at least 18
    email TEXT UNIQUE,                    -- Must be unique
    salary DECIMAL DEFAULT 30000          -- Defaults to 30,000 if not provided
)
''')

#  Insert valid data
cursor.execute("INSERT INTO employees (emp_id, emp_name, age, email) VALUES (1, 'Alice', 25, 'alice@example.com')")

#  Attempt to insert NULL in a NOT NULL column (emp_name)
try:
    cursor.execute("INSERT INTO employees (emp_id, emp_name, age, email) VALUES (2, NULL, 30, 'bob@example.com')")
except sqlite3.IntegrityError as e:
    print("NOT NULL Constraint Violation:", e)

#  Attempt to insert NULL as a primary key
try:
    cursor.execute("INSERT INTO employees (emp_id, emp_name, age, email) VALUES (NULL, 'Charlie', 22, 'charlie@example.com')")
except sqlite3.IntegrityError as e:
    print("PRIMARY KEY Constraint Violation:", e)

# Display existing rows
cursor.execute("SELECT * FROM employees")
for row in cursor.fetchall():
    print(row)

conn.close()

4. Explain the steps and SQL commands used to add or remove constraints on an existing table. Provide an example for both adding and removing a constraint.




# Step-by-Step Theory: Adding and Removing Constraints on an Existing Table



### Step 1: What are Constraints?

Constraints are rules applied to columns in a database table to ensure data integrity and accuracy. They restrict the kind of data that can be inserted or updated in the table.

**Common constraints include:**

* **NOT NULL:** Column cannot have NULL values.
* **UNIQUE:** All values in the column must be unique.
* **PRIMARY KEY:** Uniquely identifies each row (implies NOT NULL and UNIQUE).
* **FOREIGN KEY:** Enforces referential integrity with another table.
* **CHECK:** Ensures values satisfy a specified condition.
* **DEFAULT:** Sets a default value for a column if none is provided.



### Step 2: Adding Constraints on an Existing Table

To add a constraint to an existing table, the `ALTER TABLE` statement is used along with `ADD CONSTRAINT`.

**General syntax:**

```
ALTER TABLE table_name
ADD CONSTRAINT constraint_name constraint_type (column_or_condition);
```

* `constraint_name`: A unique name for the constraint.
* `constraint_type`: The type of constraint (e.g., UNIQUE, CHECK).
* `column_or_condition`: The column(s) or condition the constraint applies to.

This command adds new rules that restrict the data entered in the table.



### Step 3: Removing Constraints from an Existing Table

To remove an existing constraint, the `ALTER TABLE` statement is used with `DROP CONSTRAINT`.

**General syntax:**

```
ALTER TABLE table_name
DROP CONSTRAINT constraint_name;
```

* You must specify the exact name of the constraint you want to remove.
* This command deletes the rule, allowing previously restricted data to be entered.



### Step 4: Important Considerations

* Some database systems (e.g., MySQL, PostgreSQL) support adding and dropping constraints directly using `ALTER TABLE`.
* Other systems like SQLite (commonly used in Google Colab) **do not support** adding or dropping constraints on existing tables directly.
* In such systems, the common workaround is to:

  * Create a new table with the desired constraints.
  * Copy data from the original table to the new table.
  * Drop the original table.
  * Rename the new table to the original table's name.
* This process effectively “adds” or “removes” constraints by recreating the table structure.



### Summary:

| Action                | Command Example                                                     | Notes                            |
| --------------------- | ------------------------------------------------------------------- | -------------------------------- |
| Add constraint        | `ALTER TABLE employees ADD CONSTRAINT unique_email UNIQUE (email);` | Adds a UNIQUE constraint         |
| Remove constraint     | `ALTER TABLE employees DROP CONSTRAINT unique_email;`               | Removes the UNIQUE constraint    |
| Alternative in SQLite | Recreate table with or without constraints                          | Because `ALTER TABLE` is limited |

In [ ]:
import sqlite3

# Connect to SQLite in-memory database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Step 7.1: Create initial table WITHOUT constraints
cursor.execute('''
CREATE TABLE employees (
    emp_id INTEGER,
    name TEXT,
    email TEXT,
    salary INTEGER
)
''')
print("Created employees table without constraints.")

# Step 7.2: Simulate adding UNIQUE and CHECK constraints by recreating table
cursor.execute('''
CREATE TABLE employees_new (
    emp_id INTEGER,
    name TEXT,
    email TEXT UNIQUE,
    salary INTEGER CHECK (salary >= 10000)
)
''')
print("Created employees_new table with UNIQUE and CHECK constraints.")

# Copy data from old to new (currently empty, but practice step)
cursor.execute('INSERT INTO employees_new (emp_id, name, email, salary) SELECT emp_id, name, email, salary FROM employees')

# Drop old table and rename new table
cursor.execute('DROP TABLE employees')
cursor.execute('ALTER TABLE employees_new RENAME TO employees')
print("Replaced old table with new table having constraints.")

# Step 7.3: Simulate removing constraints by recreating table without constraints
cursor.execute('''
CREATE TABLE employees_no_constraints (
    emp_id INTEGER,
    name TEXT,
    email TEXT,
    salary INTEGER
)
''')

# Copy data back
cursor.execute('INSERT INTO employees_no_constraints SELECT emp_id, name, email, salary FROM employees')

# Drop constrained table and rename no-constraint table
cursor.execute('DROP TABLE employees')
cursor.execute('ALTER TABLE employees_no_constraints RENAME TO employees')
print("Removed constraints by recreating table without constraints.")

conn.commit()
conn.close()

5. Explain the consequences of attempting to insert, update, or delete data in a way that violates constraints. Provide an example of an error message that might occur when violating a constraint.

ans.  What Happens When Constraints Are Violated?


Constraints are rules designed to maintain the integrity and validity of the data in a database. When you attempt to insert, update, or delete data in a way that violates these constraints, the database management system (DBMS):

Rejects the operation — it does not allow the data change.

Throws an error or exception — notifying the user or application that the action violates a rule.

Maintains data integrity — prevents corrupt or invalid data from entering the database.

Consequences Based on Constraint Type:
Constraint Type	Violation Example	Consequence
NOT NULL	Trying to insert NULL into a column that disallows it	Insert or update fails; error raised
UNIQUE	Trying to insert duplicate value into a UNIQUE column	Operation rejected; duplicate key error
PRIMARY KEY	Trying to insert duplicate or NULL in primary key column	Insert/update fails; primary key violation error
FOREIGN KEY	Trying to insert a value that does not exist in the referenced table	Operation fails; foreign key constraint violation
CHECK	Trying to insert a value that violates a condition (e.g., salary < 0)	Operation rejected; check constraint error

Example of an Error Message When Violating a Constraint
Suppose you have a table with a UNIQUE constraint on the email column.

In [ ]:
import sqlite3

conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

try:
    # Create table
    cursor.execute('''
    CREATE TABLE employees (
        emp_id INT PRIMARY KEY,
        email TEXT UNIQUE NOT NULL,
        salary INT CHECK (salary >= 10000)
    )
    ''')

    # Violate NOT NULL constraint by inserting NULL email
    cursor.execute("INSERT INTO employees (emp_id, email, salary) VALUES (1, NULL, 15000)")
except sqlite3.IntegrityError as e:
    print("Error:", e)

try:
    # Insert valid row
    cursor.execute("INSERT INTO employees (emp_id, email, salary) VALUES (1, 'john@example.com', 15000)")

    # Violate UNIQUE constraint by inserting duplicate email
    cursor.execute("INSERT INTO employees (emp_id, email, salary) VALUES (2, 'john@example.com', 20000)")
except sqlite3.IntegrityError as e:
    print("Error:", e)

try:
    # Violate CHECK constraint by inserting salary less than 10000
    cursor.execute("INSERT INTO employees (emp_id, email, salary) VALUES (3, 'mary@example.com', 9000)")
except sqlite3.IntegrityError as e:
    print("Error:", e)

conn.close()

6. You created a products table without constraints as follows:
CREATE TABLE products (
      product_id INT,
          product_name VARCHAR(50),
              price DECIMAL(10, 2));
Now, you realise that?
: The product_id should be a primary keyQ
: The price should have a default value of 50.00


ans. Consequences of Violating Constraints During Data Operations
Constraints in a database are rules applied to table columns to ensure data integrity and correctness. Common constraints include:

PRIMARY KEY: Ensures uniqueness and no NULL values.

UNIQUE: Ensures all values in a column are unique.

NOT NULL: Disallows NULL values.

FOREIGN KEY: Ensures a value in one table matches a value in another.

CHECK: Validates values against a condition.

Consequences of Violating Constraints
When you attempt to insert, update, or delete data that breaks any of these constraints, the database engine will:

Reject the operation: The change will not be applied.

Raise an error: An error message will be returned explaining the constraint violation.

Maintain data integrity: The database stays consistent without invalid data.

This protects the database from corrupt or inconsistent data but requires that the application or user handle these errors appropriately.

Example of a Constraint Violation and Error Message
Assume you have a table products with a product_id as a PRIMARY KEY (unique and not null).

In [ ]:
import sqlite3

# Connect to (or create) a test database in memory for testing
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Step 0: Create the original products table without constraints and insert sample data
cursor.execute('''
CREATE TABLE products (
    product_id INT,
    product_name VARCHAR(50),
    price DECIMAL(10, 2)
);
''')

cursor.execute("INSERT INTO products VALUES (1, 'Product A', 20.00);")
cursor.execute("INSERT INTO products VALUES (2, 'Product B', NULL);")  # Price NULL to test default

conn.commit()

# Step 1: Create new table with PRIMARY KEY and DEFAULT price
cursor.execute('''
CREATE TABLE products_new (
    product_id INTEGER PRIMARY KEY,
    product_name VARCHAR(50),
    price DECIMAL(10, 2) DEFAULT 50.00
);
''')

# Step 2: Copy data from old table to new table
cursor.execute('''
INSERT INTO products_new (product_id, product_name, price)
SELECT product_id, product_name,
       CASE WHEN price IS NULL THEN 50.00 ELSE price END
FROM products;
''')

# Step 3: Drop old table
cursor.execute('DROP TABLE products;')

# Step 4: Rename new table to original name
cursor.execute('ALTER TABLE products_new RENAME TO products;')

conn.commit()

# Check results
cursor.execute('SELECT * FROM products;')
rows = cursor.fetchall()
for row in rows:
    print(row)

conn.close()

7. You have two tables:
Write a query to fetch the student_name and class_name for each student using an INNER JOIN.

In [ ]:
import sqlite3
import pandas as pd

# Create an in-memory SQLite database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create the Students table
cursor.execute('''
CREATE TABLE Students (
    student_id INTEGER,
    student_name TEXT,
    class_id INTEGER
)
''')

# Create the Classes table
cursor.execute('''
CREATE TABLE Classes (
    class_id INTEGER,
    class_name TEXT
)
''')

# Insert data into Students table
cursor.executemany('''
INSERT INTO Students (student_id, student_name, class_id)
VALUES (?, ?, ?)
''', [
    (1, 'Alice', 101),
    (2, 'Bob', 102),
    (3, 'Charlie', 101)
])

# Insert data into Classes table
cursor.executemany('''
INSERT INTO Classes (class_id, class_name)
VALUES (?, ?)
''', [
    (101, 'Math'),
    (102, 'Science'),
    (103, 'History')
])

# INNER JOIN query to fetch student_name and class_name
query = '''
SELECT s.student_name, c.class_name
FROM Students s
INNER JOIN Classes c
ON s.class_id = c.class_id;
'''

# Execute the query and display results as a DataFrame
df = pd.read_sql_query(query, conn)
print(df)

8. Consider the following three tables:
Write a query that shows all order_id, customer_name, and product_name, ensuring that all products are
listed even if they are not associated with an order
Hint: (use INNER JOIN and LEFT JOIN)5

In [ ]:
import sqlite3
import pandas as pd

# Create in-memory SQLite database
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

# Create tables
cursor.execute('''
CREATE TABLE Orders (
    order_id INTEGER,
    order_date TEXT,
    customer_id INTEGER
)
''')

cursor.execute('''
CREATE TABLE Customers (
    customer_id INTEGER,
    customer_name TEXT
)
''')

cursor.execute('''
CREATE TABLE Products (
    product_id INTEGER,
    product_name TEXT,
    order_id INTEGER
)
''')

# Insert data
cursor.executemany('''
INSERT INTO Orders (order_id, order_date, customer_id)
VALUES (?, ?, ?)
''', [
    (1, '2024-01-01', 101),
    (2, '2024-01-03', 102)
])

cursor.executemany('''
INSERT INTO Customers (customer_id, customer_name)
VALUES (?, ?)
''', [
    (101, 'Alice'),
    (102, 'Bob')
])

cursor.executemany('''
INSERT INTO Products (product_id, product_name, order_id)
VALUES (?, ?, ?)
''', [
    (1, 'Laptop', 1),
    (2, 'Phone', None)
])

# Run the JOIN query
query = '''
SELECT
    o.order_id,
    c.customer_name,
    p.product_name
FROM Products p
LEFT JOIN Orders o ON p.order_id = o.order_id
LEFT JOIN Customers c ON o.customer_id = c.customer_id;
'''

# Show results
df = pd.read_sql_query(query, conn)
print(df)

9. Given the following tables:
Write a query to find the total sales amount for each product using an INNER JOIN and the SUM() function.

In [ ]:
import sqlite3
import pandas as pd

# Create in-memory SQLite database
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

# Create tables
cursor.execute('''
CREATE TABLE Sales (
    sale_id INTEGER,
    product_id INTEGER,
    amount INTEGER
)
''')

cursor.execute('''
CREATE TABLE Products (
    product_id INTEGER,
    product_name TEXT
)
''')

# Insert data
cursor.executemany('''
INSERT INTO Sales (sale_id, product_id, amount)
VALUES (?, ?, ?)
''', [
    (1, 101, 500),
    (2, 102, 300),
    (3, 101, 700)
])

cursor.executemany('''
INSERT INTO Products (product_id, product_name)
VALUES (?, ?)
''', [
    (101, 'Laptop'),
    (102, 'Phone')
])

# Query to find total sales per product
query = '''
SELECT
    p.product_name,
    SUM(s.amount) AS total_sales
FROM Sales s
INNER JOIN Products p ON s.product_id = p.product_id
GROUP BY p.product_name;
'''

# Show results
df = pd.read_sql_query(query, conn)
print(df)

10. You are given three tables:
Write a query to display the order_id, customer_name, and the quantity of products ordered by each customer using an INNER JOIN between all three tables.

In [ ]:
import sqlite3
import pandas as pd

# Create in-memory SQLite database
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

# Create tables
cursor.execute('''
CREATE TABLE Orders (
    order_id INTEGER,
    order_date TEXT,
    customer_id INTEGER
)
''')

cursor.execute('''
CREATE TABLE Customers (
    customer_id INTEGER,
    customer_name TEXT
)
''')

cursor.execute('''
CREATE TABLE Order_Details (
    order_id INTEGER,
    product_id INTEGER,
    quantity INTEGER
)
''')

# Insert data
cursor.executemany('''
INSERT INTO Orders (order_id, order_date, customer_id)
VALUES (?, ?, ?)
''', [
    (1, '2024-01-02', 1),
    (2, '2024-01-05', 2)
])

cursor.executemany('''
INSERT INTO Customers (customer_id, customer_name)
VALUES (?, ?)
''', [
    (1, 'Alice'),
    (2, 'Bob')
])

cursor.executemany('''
INSERT INTO Order_Details (order_id, product_id, quantity)
VALUES (?, ?, ?)
''', [
    (1, 101, 2),
    (1, 102, 1),
    (2, 101, 3)
])

# Run the query
query = '''
SELECT
    o.order_id,
    c.customer_name,
    od.quantity
FROM Order_Details od
INNER JOIN Orders o ON od.order_id = o.order_id
INNER JOIN Customers c ON o.customer_id = c.customer_id;
'''

# Show results
df = pd.read_sql_query(query, conn)
print(df)

   order_id customer_name  quantity
0         1         Alice         2
1         1         Alice         1
2         2           Bob         3

#SQL Commands

1. 1-Identify the primary keys and foreign keys in maven movies db. Discuss the differences?

ans.

### 1. Identify Primary Keys and Foreign Keys in Maven Movies DB

Assuming a typical movie database has tables like:

* **Movies**: stores movie info
* **Actors**: stores actor info
* **Directors**: stores director info
* **Movie\_Actors**: links movies and actors (many-to-many)
* **Movie\_Directors**: links movies and directors (many-to-many)
* **Genres**: movie genres


#### Example Primary Keys (PK):

* `Movies` table:

  * **Primary Key:** `movie_id` (unique identifier for each movie)
* `Actors` table:

  * **Primary Key:** `actor_id` (unique ID for each actor)
* `Directors` table:

  * **Primary Key:** `director_id`
* `Genres` table:

  * **Primary Key:** `genre_id`
* `Movie_Actors` table:

  * **Primary Key:** composite key of (`movie_id`, `actor_id`)
    (Because a movie can have many actors and an actor can be in many movies)
* `Movie_Directors` table:

  * **Primary Key:** composite key of (`movie_id`, `director_id`)

#### Example Foreign Keys (FK):

* In `Movie_Actors`:

  * `movie_id` references `Movies(movie_id)`
  * `actor_id` references `Actors(actor_id)`
* In `Movie_Directors`:

  * `movie_id` references `Movies(movie_id)`
  * `director_id` references `Directors(director_id)`
* In `Movies`:

  * If there’s a `genre_id` column, it references `Genres(genre_id)`


### 2. Differences Between Primary Key and Foreign Key

| Aspect             | Primary Key (PK)                           | Foreign Key (FK)                                          |
| ------------------ | ------------------------------------------ | --------------------------------------------------------- |
| Purpose            | Uniquely identifies each record in a table | Links a record in one table to a record in another table  |
| Uniqueness         | Must be unique and not null                | Can have duplicates and can be null (depending on design) |
| Location           | Defined in the table that owns the data    | Defined in the table that references another table        |
| Enforces Integrity | Ensures each row is uniquely identifiable  | Ensures referential integrity between related tables      |
| Example            | `movie_id` in `Movies` table               | `movie_id` in `Movie_Actors` referencing `Movies`         |

In [ ]:
# STEP 1: Install ipython-sql (only once per session)
!pip install ipython-sql

# STEP 2: Load SQL magic and connect to database
%load_ext sql
%sql sqlite:///mavenmovies.db

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.11/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (3.16.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (2.0.41)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.14.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (75.2.0)
Collecting jedi>=0.16 (from ipython->ipython-sql)
  Downloading jedi-0.19.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (3.0.51)
Requirement already satisfied: pygments in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.11/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.11/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Downloading jedi-0.19.2-py2.py3-none-any.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 51.8 MB/s eta 0:00:00
Installing collected packages: jedi
Successfully installed jedi-0.19.2

3 -List all customer information from DB.

In [ ]:
from google.colab import files

# This will open a file chooser to upload files
uploaded = files.upload()

Saving Mavenmovies.sql to Mavenmovies.sql

In [ ]:
from google.colab import files

uploaded = files.upload()

# Print uploaded filenames
for name in uploaded.keys():
    print(f"Uploaded file: {name}")

Saving Mavenmovies.sql to Mavenmovies (1).sql
Uploaded file: Mavenmovies (1).sql

In [ ]:
from google.colab import files

uploaded = files.upload()

# Show the uploaded filename
for filename in uploaded.keys():
    print("✅ Uploaded file name:", filename)

Saving Mavenmovies.sql to Mavenmovies (2).sql
✅ Uploaded file name: Mavenmovies (2).sql

In [ ]:
import sqlite3
import re

# Step 1: Read the SQL script
with open("Mavenmovies (2).sql", "r") as f:
    raw_sql = f.read()

# Step 2: Clean MySQL-specific commands not supported in SQLite
cleaned_sql = re.sub(r"(?i)SET .*?;\n", "", raw_sql)                      # Remove SET commands
cleaned_sql = re.sub(r"(?i)ENGINE=\w+\s*", "", cleaned_sql)              # Remove ENGINE type
cleaned_sql = re.sub(r"(?i)COLLATE\s*=\s*\w+", "", cleaned_sql)          # Remove COLLATE
cleaned_sql = re.sub(r"AUTO_INCREMENT", "AUTOINCREMENT", cleaned_sql)   # Fix autoincrement syntax
cleaned_sql = re.sub(r"UNSIGNED", "", cleaned_sql)                      # Remove MySQL-specific "UNSIGNED"

# Step 3: Load into SQLite
conn = sqlite3.connect("mavenmovies.db")
cursor = conn.cursor()
cursor.executescript(cleaned_sql)
conn.commit()

OperationalError: near "SCHEMA": syntax error

5. Display all active customers.


ans. To display **all active customers**, you need to filter the customers table based on a column that indicates whether a customer is active or not. This column is commonly named something like `status`, `is_active`, `active_flag`, etc.



### Example 1: If there is a boolean or integer column `is_active` (1 = active, 0 = inactive)

```sql
SELECT * FROM customers
WHERE is_active = 1;
```


### Example 2: If there is a `status` column with values like 'active' and 'inactive'

```sql
SELECT * FROM customers
WHERE status = 'active';
```



### Explanation:

* `WHERE` filters rows based on a condition.
* The condition here checks if the customer is active.

6. List of all rental IDs for customer with ID 1.

ans. v=To get all rental IDs for the customer with ID 1, you can run a query like this:

```sql
SELECT rental_id
FROM rentals
WHERE customer_id = 1;
```

---

### Explanation:

* `rental_id` is the column storing rental IDs.
* `rentals` is the table that stores rental information.
* `WHERE customer_id = 1` filters records for the customer with ID 1.

7 - Display all the films whose rental duration is greater than 5 .

ans. To display all films whose rental duration is greater than 5, use this SQL query:

```sql
SELECT *
FROM films
WHERE rental_duration > 5;
```



### Explanation:

* `films` is the table storing film data.
* `rental_duration` is the column representing the rental duration (in days or whatever unit).
* `WHERE rental_duration > 5` filters films with rental duration more than 5.

8.  List the total number of films whose replacement cost is greater than $15 and less than $20.


ans.

```sql
SELECT COUNT(*) AS total_films
FROM films
WHERE replacement_cost > 15 AND replacement_cost < 20;
```



### Explanation:

* `COUNT(*)` counts the number of rows matching the condition.
* `replacement_cost` is the column for the cost.
* The `WHERE` clause filters films with replacement cost between 15 and 20 (exclusive).



If you want to include 15 and 20 as well, use `>=` and `<=` instead:

```sql
WHERE replacement_cost >= 15 AND replacement_cost <= 20;
```

9 - Display the count of unique first names of actors.

ans. To display the count of **unique first names** of actors, you can use this query:

```sql
SELECT COUNT(DISTINCT first_name) AS unique_first_names_count
FROM actors;
```



### Explanation:

* `DISTINCT first_name` selects unique first names.
* `COUNT()` counts how many unique first names there are.
* `actors` is the table containing actor details.

10- Display the first 10 records from the customer table .

ans.To display the first 10 records from the `customer` table, you can use:

```sql
SELECT *
FROM customers
LIMIT 10;
```



### Explanation:

* `LIMIT 10` restricts the output to the first 10 rows.
* `customers` is the table name.



If you want to order them by a specific column (like `customer_id`), you can do:

```sql
SELECT *
FROM customers
ORDER BY customer_id
LIMIT 10;
```

11.  Display the first 3 records from the customer table whose first name starts with ‘b’.


ans. To display the first 10 records from the `customer` table, you can use:

```sql
SELECT *
FROM customers
LIMIT 10;
```


### Explanation:

* `LIMIT 10` restricts the output to the first 10 rows.
* `customers` is the table name.



If you want to order them by a specific column (like `customer_id`), you can do:

```sql
SELECT *
FROM customers
ORDER BY customer_id
LIMIT 10;
```

12. Display the names of the first 5 movies which are rated as ‘G’.

ans. To display the first 10 records from the `customer` table, you can use:

```sql
SELECT *
FROM customers
LIMIT 10;
```



### Explanation:

* `LIMIT 10` restricts the output to the first 10 rows.
* `customers` is the table name.


If you want to order them by a specific column (like `customer_id`), you can do:

```sql
SELECT *
FROM customers
ORDER BY customer_id
LIMIT 10;
```

13. Find all customers whose first name starts with "a".


ans. To find all customers whose first name starts with **"a"** (case-insensitive), you can use the `LIKE` operator with a wildcard `%` like this:

```sql
SELECT *
FROM customers
WHERE first_name LIKE 'a%';
```


### Notes:

* `'a%'` means first\_name starts with the letter "a".
* This query is **case-sensitive** in some databases (like PostgreSQL).
* For case-insensitive search in **MySQL** or **SQLite**, the above works fine by default.



### If case-insensitive search is needed (e.g., in PostgreSQL), use:

```sql
SELECT *
FROM customers
WHERE LOWER(first_name) LIKE 'a%';
```

14.  Find all customers whose first name ends with "a".

ans. To find all customers whose first name **ends with "a"**, use the `LIKE` operator with `%` at the beginning like this:

```sql
SELECT *
FROM customers
WHERE first_name LIKE '%a';
```



### Explanation:

* `%a` means the first name ends with the letter "a".
* This query might be case-sensitive depending on your database.



### For case-insensitive search (e.g., PostgreSQL), use:

```sql
SELECT *
FROM customers
WHERE LOWER(first_name) LIKE '%a';
```

15. Display the list of first 4 cities which start and end with ‘a’ .

ans. To display the first 4 cities whose names **start and end with the letter 'a'**, you can use this SQL query:

```sql
SELECT city
FROM cities
WHERE city LIKE 'a%' AND city LIKE '%a'
LIMIT 4;
```



### Explanation:

* `city LIKE 'a%'` filters cities starting with 'a'.
* `city LIKE '%a'` filters cities ending with 'a'.
* `LIMIT 4` restricts the output to the first 4 matching records.
* `cities` is the assumed table name containing city names.

16.  Find all customers whose first name have "NI" in any position.

ans. To find all customers whose first name contains **"NI"** anywhere in the name, you can use the `LIKE` operator with `%` wildcards on both sides:

```sql
SELECT *
FROM customers
WHERE first_name LIKE '%NI%';
```

---

### Notes:

* `%NI%` matches any first\_name containing the substring "NI".
* This query is **case-sensitive** in some databases.

---

### For case-insensitive search (e.g., PostgreSQL), use:

```sql
SELECT *
FROM customers
WHERE LOWER(first_name) LIKE '%ni%';
```

 17. Find all customers whose first name has "r" in the second position?

In [ ]:
%load_ext sql
%sql sqlite:///mavenmovies.db

In [ ]:
%%sql
SELECT customer_id, first_name, last_name
FROM customer
WHERE first_name LIKE '_r%';

UsageError: Cell magic `%%sql` not found.

18. Find all customers whose first name starts with "a" and is at least 5 characters in length?

In [ ]:
%%sql
SELECT customer_id, first_name, last_name
FROM customer
WHERE first_name LIKE 'a%' AND LENGTH(first_name) >= 5;

UsageError: Cell magic `%%sql` not found.

 19. Find all customers whose first name starts with "a" and ends with "o"?

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving customer.csv to customer.csv

In [ ]:
import pandas as pd

# Load customer.csv (ensure it's uploaded and in same directory)
df = pd.read_csv("customer.csv")

# Show first 5 rows to confirm it's loaded correctly
print("✅ File loaded:")
print(df.head())

✅ File loaded:
   customer_id first_name last_name               email  active
0            1     Amanda     Smith  amanda@example.com       1
1            2      Alice     Jones   alice@example.com       1
2            3     Alonso     Gomez  alonso@example.com       0

In [ ]:
# Filter first names starting with 'a' and ending with 'o'
filtered_df = df[
    df['first_name'].str.lower().str.startswith('a') &
    df['first_name'].str.lower().str.endswith('o')
]

# Show result
print("🔍 Q19 Result:")
filtered_df

🔍 Q19 Result:

   customer_id first_name last_name               email  active
2            3     Alonso     Gomez  alonso@example.com       0

20.  Get the films with pg and pg-13 rating using IN operator.

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving film.csv to film.csv

In [ ]:
import pandas as pd

# Auto-detect filename
filename = next(iter(uploaded))  # grabs the name like film.csv

# Load the uploaded film.csv
film = pd.read_csv(filename)

# Q20: Filter films where rating is PG or PG-13
filtered_films = film[film['rating'].isin(['PG', 'PG-13'])]

# Show only title and rating columns
filtered_films[['title', 'rating']]

              title rating
1    ACE GOLDFINGER     PG
2  ADAPTATION HOLES  PG-13

21 - Get the films with length between 50 to 100 using between operator.

In [ ]:
import sqlite3

# Database banate hain (ya connect karte hain)
conn = sqlite3.connect(':memory:')  # in-memory database, temporary

# Cursor bana ke commands chalate hain
cur = conn.cursor()

# Sample table banate hain
cur.execute('''
CREATE TABLE film (
    title TEXT,
    length INTEGER
)
''')

# Sample data insert karte hain
cur.executemany('INSERT INTO film (title, length) VALUES (?, ?)', [
    ('Film A', 45),
    ('Film B', 60),
    ('Film C', 90),
    ('Film D', 120)
])

conn.commit()

# Ab query chalate hain jisme length 50 se 100 ke beech ho
cur.execute('SELECT title, length FROM film WHERE length BETWEEN 50 AND 100')

results = cur.fetchall()

for row in results:
    print(row)

# Connection close karna na bhoolna
conn.close()

('Film B', 60)
('Film C', 90)

22 - Get the top 50 actors using limit operator.

In [ ]:
import sqlite3

conn = sqlite3.connect(':memory:')  # temporary in-memory database
cur = conn.cursor()

# Sample actor table banate hain
cur.execute('''
CREATE TABLE actor (
    actor_id INTEGER PRIMARY KEY,
    first_name TEXT,
    last_name TEXT
)
''')

# Sample data insert karte hain
cur.executemany('INSERT INTO actor (actor_id, first_name, last_name) VALUES (?, ?, ?)', [
    (1, 'John', 'Doe'),
    (2, 'Jane', 'Smith'),
    (3, 'Mike', 'Johnson'),
    # ... aur rows
])

conn.commit()

# Query chalate hain - top 50 actors (agar data 50 se kam hai toh sab aayenge)
cur.execute('SELECT * FROM actor LIMIT 50')

rows = cur.fetchall()
for row in rows:
    print(row)

conn.close()

(1, 'John', 'Doe')
(2, 'Jane', 'Smith')
(3, 'Mike', 'Johnson')

23. 23 - Get the distinct film ids from inventory table.

In [ ]:
import sqlite3

# Database connect karo (ya memory me temporary banalo)
conn = sqlite3.connect(':memory:')
cur = conn.cursor()

# Sample inventory table banao
cur.execute('''
CREATE TABLE inventory (
    inventory_id INTEGER PRIMARY KEY,
    film_id INTEGER
)
''')

# Sample data daalo
cur.executemany('INSERT INTO inventory (inventory_id, film_id) VALUES (?, ?)', [
    (1, 101),
    (2, 102),
    (3, 101),
    (4, 103),
    (5, 102)
])

conn.commit()

# Distinct film_id query run karo
cur.execute('SELECT DISTINCT film_id FROM inventory')

results = cur.fetchall()

for row in results:
    print(row)

conn.close()

(101,)
(102,)
(103,)

#Functions

Question 1:

Retrieve the total number of rentals made in the Sakila database.

Hint: Use the COUNT() function.

### Q1: Retrieve the total number of rentals made in the Sakila database

```sql
SELECT COUNT(*) AS total_rentals FROM rental;
```

**Expected Output:** 16044

Question 2. Display the first name and last name of customers in uppercase.
Hint: Use the UPPER () function.

### Q2: Display the first name and last name of customers in uppercase

```sql
SELECT
  UPPER(first_name) AS first_name_upper,
  UPPER(last_name) AS last_name_upper
FROM customer;
```

String Functions:
Question 3:
Display the first name and last name of customers in uppercase.
Hint: Use the UPPER () function.



```sql
SELECT
  UPPER(first_name) AS first_name_upper,
  UPPER(last_name) AS last_name_upper
FROM customer;
```

Question 4:
Extract the month from the rental date and display it alongside the rental ID.
Hint: Employ the MONTH() function.

```sql
SELECT
  rental_id,
  MONTH(rental_date) AS rental_month
FROM rental;
```

Question 5:
Retrieve the count of rentals for each customer (display customer ID and the count of rentals).
Hint: Use COUNT () in conjunction with GROUP BY.

```sql
SELECT
  customer_id,
  COUNT(rental_id) AS rental_count
FROM rental
GROUP BY customer_id;
```

Question 6:
Find the total revenue generated by each store.
Hint: Combine SUM() and GROUP BY.

```sql
SELECT
  store_id,
  SUM(amount) AS total_revenue
FROM payment
GROUP BY store_id;
```

Question 7:
Determine the total number of rentals for each category of movies.
Hint: JOIN film_category, film, and rental tables, then use cOUNT () and GROUP BY.

```sql
SELECT
  c.name AS category_name,
  COUNT(r.rental_id) AS total_rentals
FROM category c
JOIN film_category fc ON c.category_id = fc.category_id
JOIN film f ON fc.film_id = f.film_id
JOIN inventory i ON f.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
GROUP BY c.name
ORDER BY total_rentals DESC;
```

Question 8:
Find the average rental rate of movies in each language.
Hint: JOIN film and language tables, then use AVG () and GROUP BY.

```sql
SELECT
  l.name AS language_name,
  ROUND(AVG(f.rental_rate), 2) AS average_rental_rate
FROM film f
JOIN language l ON f.language_id = l.language_id
GROUP BY l.name
ORDER BY average_rental_rate DESC;
```

#Joins

Questions 9 -
Display the title of the movie, customer s first name, and last name who rented it.Hint: Use JOIN between the film, inventory, rental, and customer tables.

```sql
SELECT
  f.title AS movie_title,
  c.first_name,
  c.last_name
FROM rental r
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
JOIN customer c ON r.customer_id = c.customer_id
ORDER BY f.title, c.first_name;

Question 10:Retrieve the names of all actors who have appeared in the film "Gone with the Wind."
Hint: Use JOIN between the film actor, film, and actor tables.

```sql
SELECT
  a.first_name,
  a.last_name
FROM actor a
JOIN film_actor fa ON a.actor_id = fa.actor_id
JOIN film f ON fa.film_id = f.film_id
WHERE f.title = 'Gone with the Wind';
```

Question 11:
Retrieve the customer names along with the total amount they've spent on rentals.
Hint: JOIN customer, payment, and rental tables, then use SUM() and GROUP BY.

```sql
SELECT
  c.first_name,
  c.last_name,
  SUM(p.amount) AS total_spent
FROM customer c
JOIN payment p ON c.customer_id = p.customer_id
JOIN rental r ON p.rental_id = r.rental_id
GROUP BY c.first_name, c.last_name
ORDER BY total_spent DESC;
```

Question 12:
List the titles of movies rented by each customer in a particular city (e.g., 'London').
Hint: JOIN customer, address, city, rental, inventory, and film tables, then use GROUP BY.

```sql
SELECT
  c.first_name,
  c.last_name,
  f.title AS movie_title,
  ci.city
FROM customer c
JOIN address a ON c.address_id = a.address_id
JOIN city ci ON a.city_id = ci.city_id
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
WHERE ci.city = 'London'
ORDER BY c.last_name, f.title;
```

#Advanced Joins and GROUP BY:
Question 13:Display the top 5 rented movies along with the number of times they've been rented.Hint: JOIN film, inventory, and rental tables, then use COUNT () and GROUP BY, and limit the results.

```sql
SELECT
  f.title AS movie_title,
  COUNT(r.rental_id) AS rental_count
FROM film f
JOIN inventory i ON f.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
GROUP BY f.title
ORDER BY rental_count DESC
LIMIT 5;
```

14. Question 14:
Determine the customers who have rented movies from both stores (store ID 1 and store ID 2).
Hint: Use JOINS with rental, inventory, and customer tables and consider COUNT() and GROUP BY.

```sql
SELECT
  r.customer_id,
  c.first_name,
  c.last_name
FROM rental r
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN customer c ON r.customer_id = c.customer_id
GROUP BY r.customer_id
HAVING COUNT(DISTINCT i.store_id) = 2;
```



#Windows Function:

1. Rank the customers based on the total amount they've spent on rentals.

In [ ]:
import pandas as pd
import sqlite3

In [ ]:
import sqlite3
conn = sqlite3.connect('/content/sakila.db')  # Correct path

In [ ]:
import pandas as pd

tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)
tables

Empty DataFrame
Columns: [name]
Index: []

In [ ]:
tables

Empty DataFrame
Columns: [name]
Index: []

In [ ]:
import sqlite3
import pandas as pd

# Connect to an in-memory database (or continue with your current conn)
conn = sqlite3.connect("/content/sakila_temp.db")

# Create 'customer' table
conn.execute("""
CREATE TABLE customer (
    customer_id INTEGER PRIMARY KEY,
    first_name TEXT,
    last_name TEXT
)
""")

# Create 'payment' table
conn.execute("""
CREATE TABLE payment (
    payment_id INTEGER PRIMARY KEY,
    customer_id INTEGER,
    amount REAL,
    FOREIGN KEY (customer_id) REFERENCES customer(customer_id)
)
""")

# Insert dummy data
conn.executemany("INSERT INTO customer VALUES (?, ?, ?)", [
    (1, 'Amit', 'Shah'),
    (2, 'Riya', 'Sen'),
    (3, 'John', 'Doe')
])

conn.executemany("INSERT INTO payment VALUES (?, ?, ?)", [
    (1, 1, 100.0),
    (2, 1, 150.0),
    (3, 2, 200.0),
    (4, 3, 50.0),
    (5, 2, 100.0),
    (6, 1, 75.0)
])

conn.commit()

In [ ]:
query = """
SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    SUM(p.amount) AS total_spent
FROM
    customer c
JOIN
    payment p ON c.customer_id = p.customer_id
GROUP BY
    c.customer_id, c.first_name, c.last_name
ORDER BY
    total_spent DESC;
"""

df = pd.read_sql_query(query, conn)
df

   customer_id first_name last_name  total_spent
0            1       Amit      Shah        325.0
1            2       Riya       Sen        300.0
2            3       John       Doe         50.0

In [ ]:
query = """
SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    SUM(p.amount) AS total_spent,
    RANK() OVER (ORDER BY SUM(p.amount) DESC) AS spending_rank
FROM
    customer c
JOIN
    payment p ON c.customer_id = p.customer_id
GROUP BY
    c.customer_id, c.first_name, c.last_name
ORDER BY
    total_spent DESC;
"""

df = pd.read_sql_query(query, conn)
df

   customer_id first_name last_name  total_spent  spending_rank
0            1       Amit      Shah        325.0              1
1            2       Riya       Sen        300.0              2
2            3       John       Doe         50.0              3

2.  Calculate the cumulative revenue generated by each film over time.

In [ ]:
query = """
SELECT
    f.title,
    DATE(r.rental_date) AS rental_day,
    SUM(p.amount) AS daily_revenue,
    SUM(SUM(p.amount)) OVER (
        PARTITION BY f.film_id
        ORDER BY DATE(r.rental_date)
    ) AS cumulative_revenue
FROM
    film f
JOIN
    inventory i ON f.film_id = i.film_id
JOIN
    rental r ON i.inventory_id = r.inventory_id
JOIN
    payment p ON r.rental_id = p.rental_id
GROUP BY
    f.film_id, f.title, DATE(r.rental_date)
ORDER BY
    f.title, rental_day;
"""

df = pd.read_sql_query(query, conn)
df.head()

Empty DataFrame
Columns: [title, rental_day, daily_revenue, cumulative_revenue]
Index: []

3. Determine the average rental duration for each film, considering films with similar lengths.

In [ ]:
query = """
SELECT
    f.title,
    f.length AS film_length,

    CASE
        WHEN f.length < 90 THEN 'Short'
        WHEN f.length BETWEEN 90 AND 120 THEN 'Medium'
        ELSE 'Long'
    END AS length_category,

    AVG(JULIANDAY(r.return_date) - JULIANDAY(r.rental_date)) AS avg_rental_duration,

    AVG(AVG(JULIANDAY(r.return_date) - JULIANDAY(r.rental_date))) OVER (
        PARTITION BY
            CASE
                WHEN f.length < 90 THEN 'Short'
                WHEN f.length BETWEEN 90 AND 120 THEN 'Medium'
                ELSE 'Long'
            END
    ) AS avg_duration_in_length_group

FROM
    film f
JOIN
    inventory i ON f.film_id = i.film_id
JOIN
    rental r ON i.inventory_id = r.inventory_id

GROUP BY
    f.film_id, f.title, f.length

ORDER BY
    length_category, avg_rental_duration DESC;
"""

In [ ]:
pd.read_sql("PRAGMA table_info(film);", conn)

   cid     name     type  notnull dflt_value  pk
0    0  film_id  INTEGER        0       None   1
1    1    title     TEXT        0       None   0

In [ ]:
pd.read_sql("PRAGMA table_info(rental);", conn)

   cid          name     type  notnull dflt_value  pk
0    0     rental_id  INTEGER        0       None   1
1    1  inventory_id  INTEGER        0       None   0
2    2   rental_date     TEXT        0       None   0

In [ ]:
pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)

        name
0       film
1  inventory
2     rental
3    payment

In [ ]:
pd.read_sql("PRAGMA table_info(payment);", conn)

   cid        name     type  notnull dflt_value  pk
0    0  payment_id  INTEGER        0       None   1
1    1   rental_id  INTEGER        0       None   0
2    2      amount     REAL        0       None   0

4. Identify the top 3 films in each category based on their rental counts.

In [ ]:
pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)

        name
0       film
1  inventory
2     rental
3    payment

In [ ]:
query = """
SELECT
    f.title AS film_title,
    COUNT(r.rental_id) AS rental_count,
    RANK() OVER (
        ORDER BY COUNT(r.rental_id) DESC
    ) AS rank_overall
FROM
    film f
JOIN
    inventory i ON f.film_id = i.film_id
JOIN
    rental r ON i.inventory_id = r.inventory_id
GROUP BY
    f.film_id, f.title
ORDER BY
    rental_count DESC
LIMIT 3;
"""

df = pd.read_sql_query(query, conn)
df

Empty DataFrame
Columns: [film_title, rental_count, rank_overall]
Index: []

5. Calculate the difference in rental counts between each customer's total rentals and the average rentals  across all customers.

In [ ]:
query = """
SELECT
    r.customer_id,
    COUNT(*) AS total_rentals,
    ROUND(AVG(COUNT(*)) OVER (), 2) AS average_rentals_across_all,
    COUNT(*) - ROUND(AVG(COUNT(*)) OVER (), 2) AS rental_diff_from_avg
FROM
    rental r
GROUP BY
    r.customer_id
ORDER BY
    rental_diff_from_avg DESC;
"""

In [ ]:
pd.read_sql("PRAGMA table_info(rental);", conn)

   cid          name     type  notnull dflt_value  pk
0    0     rental_id  INTEGER        0       None   1
1    1  inventory_id  INTEGER        0       None   0
2    2   rental_date     TEXT        0       None   0

In [ ]:
pd.read_sql("PRAGMA table_info(payment);", conn)

   cid        name     type  notnull dflt_value  pk
0    0  payment_id  INTEGER        0       None   1
1    1   rental_id  INTEGER        0       None   0
2    2      amount     REAL        0       None   0

In [ ]:
query = """
SELECT
    f.title AS film_title,
    COUNT(r.rental_id) AS rental_count,
    ROUND(AVG(COUNT(r.rental_id)) OVER (), 2) AS avg_rental_count,
    COUNT(r.rental_id) - ROUND(AVG(COUNT(r.rental_id)) OVER (), 2) AS diff_from_avg
FROM
    film f
JOIN
    inventory i ON f.film_id = i.film_id
JOIN
    rental r ON i.inventory_id = r.inventory_id
GROUP BY
    f.film_id, f.title
ORDER BY
    diff_from_avg DESC;
"""

In [ ]:
query = """
SELECT
    f.title,
    COUNT(r.rental_id) AS rental_count
FROM
    film f
JOIN
    inventory i ON f.film_id = i.film_id
JOIN
    rental r ON i.inventory_id = r.inventory_id
GROUP BY
    f.film_id
ORDER BY
    rental_count DESC
LIMIT 5;
"""

pd.read_sql_query(query, conn)

Empty DataFrame
Columns: [title, rental_count]
Index: []

6. Find the monthly revenue trend for the entire rental store over time.

In [ ]:
query = """
SELECT
    strftime('%Y-%m', payment_date) AS month,
    SUM(amount) AS total_revenue
FROM
    payment
GROUP BY
    month
ORDER BY
    month;
"""

In [ ]:
import sqlite3

conn = sqlite3.connect("mavenmovies.db")
cursor = conn.cursor()

cursor.executescript("""
DROP TABLE IF EXISTS payment;

CREATE TABLE payment (
    payment_id INTEGER PRIMARY KEY,
    customer_id INTEGER,
    staff_id INTEGER,
    rental_id INTEGER,
    amount REAL,
    payment_date TEXT
);

INSERT INTO payment (payment_id, customer_id, staff_id, rental_id, amount, payment_date) VALUES
(1, 1, 1, 1, 2.99, '2020-01-15'),
(2, 2, 1, 2, 4.99, '2020-01-20'),
(3, 3, 2, 3, 1.99, '2020-02-05'),
(4, 4, 2, 4, 3.99, '2020-02-18'),
(5, 5, 1, 5, 5.99, '2020-03-10'),
(6, 1, 1, 6, 2.99, '2020-03-22'),
(7, 2, 1, 7, 4.99, '2020-04-05'),
(8, 3, 2, 8, 1.99, '2020-04-12'),
(9, 4, 2, 9, 3.99, '2020-05-01'),
(10, 5, 1, 10, 5.99, '2020-05-16');
""")

conn.commit()
conn.close()

In [ ]:
import pandas as pd

conn = sqlite3.connect("mavenmovies.db")

query = """
SELECT
    strftime('%Y-%m', payment_date) AS month,
    SUM(amount) AS total_revenue
FROM
    payment
GROUP BY
    month
ORDER BY
    month;
"""

df = pd.read_sql_query(query, conn)
conn.close()

print(df)

     month  total_revenue
0  2020-01           7.98
1  2020-02           5.98
2  2020-03           8.98
3  2020-04           6.98
4  2020-05           9.98

7. Identify the customers whose total spending on rentals falls within the top 20% of all customers.

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("mavenmovies.db")

query = """
WITH customer_totals AS (
    SELECT
        customer_id,
        SUM(amount) AS total_spent
    FROM
        payment
    GROUP BY
        customer_id
),
percentile_threshold AS (
    SELECT
        (SELECT total_spent
         FROM customer_totals
         ORDER BY total_spent DESC
         LIMIT 1 OFFSET (
            (SELECT COUNT(*) * 80 / 100 FROM customer_totals)
         )
        ) AS threshold
)
SELECT
    c.customer_id,
    c.total_spent
FROM
    customer_totals c,
    percentile_threshold p
WHERE
    c.total_spent >= p.threshold
ORDER BY
    c.total_spent DESC;
"""

df = pd.read_sql_query(query, conn)
conn.close()

print(df)

   customer_id  total_spent
0            5        11.98
1            2         9.98
2            4         7.98
3            1         5.98
4            3         3.98

8. Calculate the running total of rentals per category, ordered by rental count.

In [ ]:
import sqlite3

conn = sqlite3.connect("mavenmovies.db")
cursor = conn.cursor()

cursor.executescript("""
DROP TABLE IF EXISTS rental;
DROP TABLE IF EXISTS inventory;
DROP TABLE IF EXISTS film_category;
DROP TABLE IF EXISTS category;

CREATE TABLE category (
    category_id INTEGER PRIMARY KEY,
    name TEXT
);

CREATE TABLE film_category (
    film_id INTEGER,
    category_id INTEGER
);

CREATE TABLE inventory (
    inventory_id INTEGER PRIMARY KEY,
    film_id INTEGER
);

CREATE TABLE rental (
    rental_id INTEGER PRIMARY KEY,
    rental_date TEXT,
    inventory_id INTEGER
);

-- Sample data
INSERT INTO category (category_id, name) VALUES
(1, 'Action'),
(2, 'Comedy'),
(3, 'Drama');

INSERT INTO film_category (film_id, category_id) VALUES
(101, 1),
(102, 1),
(103, 2),
(104, 2),
(105, 3);

INSERT INTO inventory (inventory_id, film_id) VALUES
(1, 101),
(2, 102),
(3, 103),
(4, 104),
(5, 105),
(6, 101),
(7, 103),
(8, 105);

INSERT INTO rental (rental_id, rental_date, inventory_id) VALUES
(1, '2023-01-01', 1),
(2, '2023-01-02', 2),
(3, '2023-01-03', 3),
(4, '2023-01-04', 4),
(5, '2023-01-05', 5),
(6, '2023-01-06', 6),
(7, '2023-01-07', 7),
(8, '2023-01-08', 8);
""")

conn.commit()
conn.close()

In [ ]:
df = pd.read_sql_query(query, conn)

In [ ]:
print(df)

  category  rental_count  running_total
0   Action             3              3
1   Comedy             3              6
2    Drama             2              8

In [ ]:
df

  category  rental_count  running_total
0   Action             3              3
1   Comedy             3              6
2    Drama             2              8

9. Find the films that have been rented less than the average rental count for their respective categories.

In [ ]:
import sqlite3

conn = sqlite3.connect("mavenmovies.db")
cursor = conn.cursor()

cursor.executescript("""
DROP TABLE IF EXISTS film;
DROP TABLE IF EXISTS film_category;
DROP TABLE IF EXISTS category;
DROP TABLE IF EXISTS inventory;
DROP TABLE IF EXISTS rental;

CREATE TABLE film (
    film_id INTEGER PRIMARY KEY,
    title TEXT
);

CREATE TABLE category (
    category_id INTEGER PRIMARY KEY,
    name TEXT
);

CREATE TABLE film_category (
    film_id INTEGER,
    category_id INTEGER
);

CREATE TABLE inventory (
    inventory_id INTEGER PRIMARY KEY,
    film_id INTEGER
);

CREATE TABLE rental (
    rental_id INTEGER PRIMARY KEY,
    rental_date TEXT,
    inventory_id INTEGER
);

-- Sample data
INSERT INTO film (film_id, title) VALUES
(1, 'Fast Action'),
(2, 'Laugh Time'),
(3, 'Quiet Drama'),
(4, 'More Action');

INSERT INTO category (category_id, name) VALUES
(1, 'Action'),
(2, 'Comedy'),
(3, 'Drama');

INSERT INTO film_category (film_id, category_id) VALUES
(1, 1),
(2, 2),
(3, 3),
(4, 1);

INSERT INTO inventory (inventory_id, film_id) VALUES
(1, 1),
(2, 2),
(3, 3),
(4, 4),
(5, 1),
(6, 1),
(7, 2),
(8, 3),
(9, 4);

INSERT INTO rental (rental_id, rental_date, inventory_id) VALUES
(1, '2023-01-01', 1),
(2, '2023-01-02', 1),
(3, '2023-01-03', 2),
(4, '2023-01-04', 4),
(5, '2023-01-05', 5),
(6, '2023-01-06', 6),
(7, '2023-01-07', 7);
""")

conn.commit()
conn.close()

In [ ]:
df

  category  rental_count  running_total
0   Action             3              3
1   Comedy             3              6
2    Drama             2              8

10.  Identify the top 5 months with the highest revenue and display the revenue generated in each month.

In [ ]:
import sqlite3
import pandas as pd

# Create in-memory SQLite DB
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

# Create table manually (from your Mavenmovies.sql file)
cursor.execute("""
CREATE TABLE payment (
    payment_id INTEGER PRIMARY KEY AUTOINCREMENT,
    customer_id INTEGER,
    staff_id INTEGER,
    rental_id INTEGER,
    amount REAL NOT NULL,
    payment_date TEXT NOT NULL,
    last_update TEXT
);
""")

# Insert dummy data for testing (replace with real data later)
payments = [
    (1, 1, 2, 3, 5.99, '2024-01-15 10:00:00', '2024-01-15 10:00:00'),
    (2, 2, 2, 4, 3.99, '2024-02-10 11:00:00', '2024-02-10 11:00:00'),
    (3, 1, 1, 5, 7.99, '2024-02-20 09:30:00', '2024-02-20 09:30:00'),
    (4, 3, 1, 6, 4.99, '2024-03-05 08:00:00', '2024-03-05 08:00:00'),
    (5, 2, 2, 7, 6.49, '2024-02-12 10:00:00', '2024-02-12 10:00:00')
]

cursor.executemany("INSERT INTO payment VALUES (?, ?, ?, ?, ?, ?, ?)", payments)
conn.commit()

# Now run your query
query = """
SELECT
    strftime('%Y-%m', payment_date) AS month,
    SUM(amount) AS total_revenue
FROM
    payment
GROUP BY
    month
ORDER BY
    total_revenue DESC
LIMIT 5;
"""

df = pd.read_sql_query(query, conn)
print(df)

     month  total_revenue
0  2024-02          18.47
1  2024-01           5.99
2  2024-03           4.99

#Normalisation & CTE


1. First Normal Form (1NF):

 a. Identify a table in the Sakila database that violates 1NF. Explain how you

 would normalize it to achieve 1NF..

In [ ]:
import sqlite3
import pandas as pd

# 1. Create in-memory SQLite DB
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

# 2. Create film, actor, and film_actor tables
cursor.executescript("""
CREATE TABLE film (
    film_id INTEGER PRIMARY KEY,
    title TEXT
);

CREATE TABLE actor (
    actor_id INTEGER PRIMARY KEY,
    first_name TEXT,
    last_name TEXT
);

CREATE TABLE film_actor (
    actor_id INTEGER,
    film_id INTEGER,
    PRIMARY KEY (actor_id, film_id)
);
""")

# 3. Insert sample data
cursor.executemany("INSERT INTO film VALUES (?, ?)", [
    (1, 'Titanic'),
    (2, 'Inception')
])

cursor.executemany("INSERT INTO actor VALUES (?, ?, ?)", [
    (1, 'Leonardo', 'DiCaprio'),
    (2, 'Kate', 'Winslet'),
    (3, 'Tom', 'Hardy')
])

cursor.executemany("INSERT INTO film_actor VALUES (?, ?)", [
    (1, 1),  # Leo in Titanic
    (2, 1),  # Kate in Titanic
    (1, 2),  # Leo in Inception
    (3, 2)   # Tom in Inception
])

conn.commit()

# 4. Now run the normalized query (1NF style)
query = """
SELECT
    f.film_id,
    f.title,
    a.first_name AS actor_first_name,
    a.last_name AS actor_last_name
FROM
    film f
JOIN film_actor fa ON f.film_id = fa.film_id
JOIN actor a ON fa.actor_id = a.actor_id;
"""

df = pd.read_sql_query(query, conn)
print(df)

   film_id      title actor_first_name actor_last_name
0        1    Titanic         Leonardo        DiCaprio
1        1    Titanic             Kate         Winslet
2        2  Inception         Leonardo        DiCaprio
3        2  Inception              Tom           Hardy

2. Second Normal Form (2NF): a. Choose a table in Sakila and describe how you would determine whether it is in 2NF.

In [ ]:
import sqlite3
import pandas as pd

# Create in-memory SQLite DB
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

# Create film, actor, film_actor tables
cursor.executescript("""
CREATE TABLE film (
    film_id INTEGER PRIMARY KEY,
    title TEXT
);

CREATE TABLE actor (
    actor_id INTEGER PRIMARY KEY,
    first_name TEXT,
    last_name TEXT
);

CREATE TABLE film_actor (
    actor_id INTEGER,
    film_id INTEGER,
    PRIMARY KEY (actor_id, film_id)
);
""")

# Insert sample data
cursor.executemany("INSERT INTO film VALUES (?, ?)", [
    (1, 'Titanic'),
    (2, 'Inception')
])

cursor.executemany("INSERT INTO actor VALUES (?, ?, ?)", [
    (1, 'Leonardo', 'DiCaprio'),
    (2, 'Kate', 'Winslet'),
    (3, 'Tom', 'Hardy')
])

cursor.executemany("INSERT INTO film_actor VALUES (?, ?)", [
    (1, 1),
    (2, 1),
    (1, 2),
    (3, 2)
])

conn.commit()

# Use CTE to count actors per film
query = """
WITH actor_count AS (
    SELECT
        f.film_id,
        f.title,
        COUNT(fa.actor_id) AS total_actors
    FROM
        film f
    JOIN film_actor fa ON f.film_id = fa.film_id
    GROUP BY f.film_id, f.title
)
SELECT * FROM actor_count;
"""

df = pd.read_sql_query(query, conn)
print(df)

   film_id      title  total_actors
0        1    Titanic             2
1        2  Inception             2

3. Third Normal Form (3NF):

 a. Identify a table in Sakila that violates 3NF. Describe the transitive dependencies

 present and outline the steps to normalize the table to 3NF.

In [ ]:
import sqlite3

conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

# Create dummy tables to support the view
cursor.executescript("""
CREATE TABLE customer (
    customer_id INTEGER PRIMARY KEY,
    first_name TEXT,
    last_name TEXT,
    store_id INTEGER,
    address_id INTEGER
);

CREATE TABLE address (
    address_id INTEGER PRIMARY KEY,
    address TEXT,
    postal_code TEXT,
    phone TEXT,
    city_id INTEGER
);

CREATE TABLE city (
    city_id INTEGER PRIMARY KEY,
    city TEXT,
    country_id INTEGER
);

CREATE TABLE country (
    country_id INTEGER PRIMARY KEY,
    country TEXT
);
""")

# Now create the view
cursor.executescript("""
CREATE VIEW customer_list AS
SELECT
    cu.customer_id AS ID,
    cu.first_name,
    cu.last_name,
    a.address,
    a.postal_code,
    a.phone,
    c.city,
    co.country,
    cu.store_id
FROM customer cu
JOIN address a ON cu.address_id = a.address_id
JOIN city c ON a.city_id = c.city_id
JOIN country co ON c.country_id = co.country_id;
""")

# Check that the view works (optional)
df = pd.read_sql_query("SELECT * FROM customer_list", conn)
print(df)

Empty DataFrame
Columns: [ID, first_name, last_name, address, postal_code, phone, city, country, store_id]
Index: []

4. Normalization Process:

 a. Take a specific table in Sakila and guide through the process of normalizing it from the initial

 unnormalized form up to at least 2NF.

In [ ]:
import sqlite3
import pandas as pd

# Create an in-memory database
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

# Step 1: UNF → Create unnormalized customer_info table (for demo)
cursor.executescript("""
CREATE TABLE customer_info_unf (
    customer_id INTEGER,
    name TEXT,
    phone TEXT,
    rentals TEXT -- Not atomic (violation of 1NF)
);

INSERT INTO customer_info_unf VALUES (1, 'John Doe', '1234567890', 'Titanic,Inception');
INSERT INTO customer_info_unf VALUES (2, 'Jane Smith', '9876543210', 'Avatar');
""")

# Step 2: 1NF → Flatten rental titles
cursor.executescript("""
CREATE TABLE customer_rental_1nf (
    customer_id INTEGER,
    name TEXT,
    phone TEXT,
    rental_title TEXT
);

INSERT INTO customer_rental_1nf VALUES (1, 'John Doe', '1234567890', 'Titanic');
INSERT INTO customer_rental_1nf VALUES (1, 'John Doe', '1234567890', 'Inception');
INSERT INTO customer_rental_1nf VALUES (2, 'Jane Smith', '9876543210', 'Avatar');
""")

# Step 3: 2NF → Separate customer and rental tables
cursor.executescript("""
CREATE TABLE customer (
    customer_id INTEGER PRIMARY KEY,
    name TEXT,
    phone TEXT
);

CREATE TABLE customer_rental (
    customer_id INTEGER,
    rental_title TEXT
);

INSERT INTO customer VALUES (1, 'John Doe', '1234567890');
INSERT INTO customer VALUES (2, 'Jane Smith', '9876543210');

INSERT INTO customer_rental VALUES (1, 'Titanic');
INSERT INTO customer_rental VALUES (1, 'Inception');
INSERT INTO customer_rental VALUES (2, 'Avatar');
""")

# Show result of normalized customer_rental table
df = pd.read_sql_query("SELECT * FROM customer_rental", conn)
print(df)

   customer_id rental_title
0            1      Titanic
1            1    Inception
2            2       Avatar

5. CTE Basics:

 a. Write a query using a CTE to retrieve the distinct list of actor names and the number of films they
 have acted in from the actor and film_actor tables.

In [ ]:
import sqlite3
import pandas as pd

# Create in-memory SQLite DB
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

# Step 1: Create actor and film_actor tables
cursor.executescript("""
CREATE TABLE actor (
    actor_id INTEGER PRIMARY KEY,
    first_name TEXT,
    last_name TEXT
);

CREATE TABLE film_actor (
    actor_id INTEGER,
    film_id INTEGER
);
""")

# Step 2: Insert sample data
cursor.executemany("INSERT INTO actor VALUES (?, ?, ?)", [
    (1, 'Tom', 'Hanks'),
    (2, 'Brad', 'Pitt'),
    (3, 'Kate', 'Winslet')
])

cursor.executemany("INSERT INTO film_actor VALUES (?, ?)", [
    (1, 101),
    (1, 102),
    (2, 103),
    (2, 104),
    (2, 105),
    (3, 106)
])

# Step 3: CTE query to get actor name and film count
query = """
WITH actor_film_count AS (
    SELECT
        a.actor_id,
        a.first_name || ' ' || a.last_name AS actor_name,
        COUNT(fa.film_id) AS film_count
    FROM actor a
    JOIN film_actor fa ON a.actor_id = fa.actor_id
    GROUP BY a.actor_id, a.first_name, a.last_name
)
SELECT * FROM actor_film_count;
"""

# Step 4: Execute and display
df = pd.read_sql_query(query, conn)
print(df)

   actor_id    actor_name  film_count
0         1     Tom Hanks           2
1         2     Brad Pitt           3
2         3  Kate Winslet           1

6. CTE with Joins:
 a. Create a CTE that combines information from the film and language tables to display the film title,
 language name, and rental rate.

In [ ]:
import sqlite3
import pandas as pd

# Step 1: Connect to in-memory SQLite DB
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

# Step 2: Create `language` and `film` tables
cursor.executescript("""
CREATE TABLE language (
    language_id INTEGER PRIMARY KEY,
    name TEXT
);

CREATE TABLE film (
    film_id INTEGER PRIMARY KEY,
    title TEXT,
    language_id INTEGER,
    rental_rate REAL,
    FOREIGN KEY (language_id) REFERENCES language(language_id)
);
""")

# Step 3: Insert sample data
cursor.executemany("INSERT INTO language VALUES (?, ?)", [
    (1, 'English'),
    (2, 'Spanish'),
    (3, 'French')
])

cursor.executemany("INSERT INTO film VALUES (?, ?, ?, ?)", [
    (101, 'Titanic', 1, 4.99),
    (102, 'Inception', 2, 3.99),
    (103, 'Amélie', 3, 5.49)
])

conn.commit()

# Step 4: Run CTE query
query = """
WITH film_language_cte AS (
    SELECT
        f.title AS film_title,
        l.name AS language_name,
        f.rental_rate
    FROM film f
    JOIN language l ON f.language_id = l.language_id
)
SELECT * FROM film_language_cte;
"""

# Step 5: Run and display result
df = pd.read_sql_query(query, conn)
print(df)

  film_title language_name  rental_rate
0    Titanic       English         4.99
1  Inception       Spanish         3.99
2     Amélie        French         5.49

7. CTE for Aggregation:

 a. Write a query using a CTE to find the total revenue generated by each customer (sum of payments)
 from the customer and payment tables.

In [1]:
import sqlite3
import pandas as pd

# Step 1: Create in-memory SQLite database
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

# Step 2: Create `customer` and `payment` tables
cursor.executescript("""
CREATE TABLE customer (
    customer_id INTEGER PRIMARY KEY,
    first_name TEXT,
    last_name TEXT
);

CREATE TABLE payment (
    payment_id INTEGER PRIMARY KEY,
    customer_id INTEGER,
    amount REAL,
    payment_date TEXT
);
""")

# Step 3: Insert sample data
cursor.executemany("INSERT INTO customer VALUES (?, ?, ?)", [
    (1, 'John', 'Doe'),
    (2, 'Jane', 'Smith'),
    (3, 'Tom', 'Hardy')
])

cursor.executemany("INSERT INTO payment VALUES (?, ?, ?, ?)", [
    (101, 1, 4.99, '2024-01-01'),
    (102, 1, 6.00, '2024-01-10'),
    (103, 2, 5.50, '2024-01-15'),
    (104, 2, 3.50, '2024-02-01'),
    (105, 3, 9.99, '2024-03-01')
])

# Step 4: Write the CTE query
query = """
WITH customer_revenue AS (
    SELECT
        c.customer_id,
        c.first_name || ' ' || c.last_name AS customer_name,
        SUM(p.amount) AS total_revenue
    FROM customer c
    JOIN payment p ON c.customer_id = p.customer_id
    GROUP BY c.customer_id, c.first_name, c.last_name
)
SELECT * FROM customer_revenue;
"""

# Step 5: Execute and show results
df = pd.read_sql_query(query, conn)
print(df)

   customer_id customer_name  total_revenue
0            1      John Doe          10.99
1            2    Jane Smith           9.00
2            3     Tom Hardy           9.99

8. CTE with Window Functions:

 a. Utilize a CTE with a window function to rank films based on their rental duration from the film table.

In [2]:
import sqlite3
import pandas as pd

# Step 1: Create in-memory SQLite DB
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

# Step 2: Create `film` table with rental_duration
cursor.executescript("""
CREATE TABLE film (
    film_id INTEGER PRIMARY KEY,
    title TEXT,
    rental_duration INTEGER
);
""")

# Step 3: Insert sample data
cursor.executemany("INSERT INTO film VALUES (?, ?, ?)", [
    (1, 'Titanic', 7),
    (2, 'Inception', 5),
    (3, 'Joker', 5),
    (4, 'Interstellar', 3),
    (5, 'Shutter Island', 2)
])

# Step 4: CTE + RANK() window function
query = """
WITH film_ranks AS (
    SELECT
        film_id,
        title,
        rental_duration,
        RANK() OVER (ORDER BY rental_duration DESC) AS rank_by_duration
    FROM film
)
SELECT * FROM film_ranks;
"""

# Step 5: Run and display
df = pd.read_sql_query(query, conn)
print(df)

   film_id           title  rental_duration  rank_by_duration
0        1         Titanic                7                 1
1        2       Inception                5                 2
2        3           Joker                5                 2
3        4    Interstellar                3                 4
4        5  Shutter Island                2                 5

 CTE and Filtering:

 a. Create a CTE to list customers who have made more than two rentals, and then join this CTE with the

 customer table to retrieve additional customer details:

In [4]:
import sqlite3
import pandas as pd

# Step 1: Create in-memory database
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

# Step 2: Create tables
cursor.executescript("""
CREATE TABLE customer (
    customer_id INTEGER PRIMARY KEY,
    first_name TEXT,
    last_name TEXT,
    email TEXT
);

CREATE TABLE rental (
    rental_id INTEGER PRIMARY KEY,
    customer_id INTEGER,
    rental_date TEXT
);
""")

# Step 3: Insert sample data
cursor.executemany("INSERT INTO customer VALUES (?, ?, ?, ?)", [
    (1, 'John', 'Doe', 'john@example.com'),
    (2, 'Jane', 'Smith', 'jane@example.com'),
    (3, 'Tom', 'Cruise', 'tom@example.com')
])

cursor.executemany("INSERT INTO rental VALUES (?, ?, ?)", [
    (1, 1, '2024-01-01'),
    (2, 1, '2024-01-02'),
    (3, 1, '2024-01-03'),
    (4, 2, '2024-02-01'),
    (5, 2, '2024-02-03'),
    (6, 3, '2024-03-01')
])

# Step 4: CTE + Join query to get customers with more than 2 rentals
query = """
WITH customer_rental_count AS (
    SELECT
        customer_id,
        COUNT(*) AS rental_count
    FROM rental
    GROUP BY customer_id
    HAVING COUNT(*) > 2
)
SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    c.email,
    crc.rental_count
FROM customer c
JOIN customer_rental_count crc ON c.customer_id = crc.customer_id;
"""

# Step 5: Run and display
df = pd.read_sql_query(query, conn)
print(df)

   customer_id first_name last_name             email  rental_count
0            1       John       Doe  john@example.com             3

EC' CTE for Date Calculations:

 a. Write a query using a CTE to find the total number of rentals made each month, considering the

 rental_date from the rental table

In [5]:
import sqlite3
import pandas as pd

# Step 1: Create in-memory SQLite database
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

# Step 2: Create rental table
cursor.execute("""
CREATE TABLE rental (
    rental_id INTEGER PRIMARY KEY,
    customer_id INTEGER,
    rental_date TEXT
);
""")

# Step 3: Insert sample rental data
cursor.executemany("INSERT INTO rental VALUES (?, ?, ?)", [
    (1, 101, '2024-01-05'),
    (2, 102, '2024-01-15'),
    (3, 103, '2024-02-03'),
    (4, 101, '2024-02-12'),
    (5, 104, '2024-03-01'),
    (6, 105, '2024-03-10'),
    (7, 106, '2024-03-22')
])

# Step 4: Use CTE to calculate monthly rentals
query = """
WITH monthly_rentals AS (
    SELECT
        strftime('%Y-%m', rental_date) AS rental_month,
        COUNT(*) AS total_rentals
    FROM rental
    GROUP BY rental_month
)
SELECT * FROM monthly_rentals
ORDER BY rental_month;
"""

# Step 5: Run and print
df = pd.read_sql_query(query, conn)
print(df)

  rental_month  total_rentals
0      2024-01              2
1      2024-02              2
2      2024-03              3

 CTE and Filtering:

 a. Create a CTE to list customers who have made more than two rentals, and then join this CTE with the

 customer table to retrieve additional customer details.

In [6]:
import sqlite3
import pandas as pd

# Step 1: Connect to in-memory SQLite
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

# Step 2: Create `customer` and `rental` tables
cursor.executescript("""
CREATE TABLE customer (
    customer_id INTEGER PRIMARY KEY,
    first_name TEXT,
    last_name TEXT,
    email TEXT
);

CREATE TABLE rental (
    rental_id INTEGER PRIMARY KEY,
    customer_id INTEGER,
    rental_date TEXT
);
""")

# Step 3: Insert sample data
cursor.executemany("INSERT INTO customer VALUES (?, ?, ?, ?)", [
    (1, 'John', 'Doe', 'john@example.com'),
    (2, 'Jane', 'Smith', 'jane@example.com'),
    (3, 'Tom', 'Cruise', 'tom@example.com')
])

cursor.executemany("INSERT INTO rental VALUES (?, ?, ?)", [
    (1, 1, '2024-01-01'),
    (2, 1, '2024-01-02'),
    (3, 1, '2024-01-03'),
    (4, 2, '2024-01-05'),
    (5, 2, '2024-01-06'),
    (6, 3, '2024-01-10')
])

# Step 4: CTE to get customers with more than 2 rentals
query = """
WITH customer_rental_count AS (
    SELECT
        customer_id,
        COUNT(*) AS rental_count
    FROM rental
    GROUP BY customer_id
    HAVING COUNT(*) > 2
)
SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    c.email,
    crc.rental_count
FROM customer c
JOIN customer_rental_count crc ON c.customer_id = crc.customer_id;
"""

# Step 5: Execute and display result
df = pd.read_sql_query(query, conn)
print(df)

   customer_id first_name last_name             email  rental_count
0            1       John       Doe  john@example.com             3

EE' CTE and Self-Join:

 a. Create a CTE to generate a report showing pairs of actors who have appeared in the same film

 together, using the film_actor table.

In [7]:
import sqlite3
import pandas as pd

# Step 1: Create in-memory SQLite DB
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

# Step 2: Create the film_actor table
cursor.execute("""
CREATE TABLE film_actor (
    actor_id INTEGER,
    film_id INTEGER
);
""")

# Step 3: Insert sample data
cursor.executemany("INSERT INTO film_actor VALUES (?, ?)", [
    (1, 101),  # Actor 1 in film 101
    (2, 101),  # Actor 2 in film 101
    (3, 101),  # Actor 3 in film 101
    (2, 102),  # Actor 2 in film 102
    (4, 102),  # Actor 4 in film 102
    (5, 103)   # Actor 5 in film 103 (no pair)
])

# Step 4: Write the CTE + self-join query
query = """
WITH actor_pairs AS (
    SELECT
        fa1.film_id,
        fa1.actor_id AS actor1_id,
        fa2.actor_id AS actor2_id
    FROM film_actor fa1
    JOIN film_actor fa2
        ON fa1.film_id = fa2.film_id
       AND fa1.actor_id < fa2.actor_id
)
SELECT * FROM actor_pairs
ORDER BY film_id, actor1_id, actor2_id;
"""

# Step 5: Run the query and display
df = pd.read_sql_query(query, conn)
print(df)

   film_id  actor1_id  actor2_id
0      101          1          2
1      101          1          3
2      101          2          3
3      102          2          4


12. CTE for Recursive Search:
 a. Implement a recursive CTE to find all employees in the staff table who report to a specific manager,
 considering the reports_to column.

In [9]:
import sqlite3
import pandas as pd

# Step 1: Create in-memory SQLite DB
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

# Step 2: Create the `staff` table
cursor.execute("""
CREATE TABLE staff (
    staff_id INTEGER PRIMARY KEY,
    first_name TEXT,
    last_name TEXT,
    reports_to INTEGER
);
""")

# Step 3: Insert sample data
cursor.executemany("INSERT INTO staff VALUES (?, ?, ?, ?)", [
    (1, 'Alice', 'Manager', None),   # Top-level manager
    (2, 'Bob', 'Employee', 1),       # Reports to Alice
    (3, 'Charlie', 'Employee', 1),   # Reports to Alice
    (4, 'David', 'Assistant', 2),    # Reports to Bob
    (5, 'Eva', 'Intern', 4)          # Reports to David
])

# Step 4: Write the recursive CTE to find all who report to Alice (staff_id = 1)
query = """
WITH RECURSIVE staff_hierarchy AS (
    SELECT
        staff_id,
        first_name,
        last_name,
        reports_to
    FROM staff
    WHERE reports_to = 1

    UNION ALL

    SELECT
        s.staff_id,
        s.first_name,
        s.last_name,
        s.reports_to
    FROM staff s
    JOIN staff_hierarchy sh ON s.reports_to = sh.staff_id
)
SELECT * FROM staff_hierarchy;
"""

# Step 5: Run and display the result
df = pd.read_sql_query(query, conn)
print(df)

   staff_id first_name  last_name  reports_to
0         2        Bob   Employee           1
1         3    Charlie   Employee           1
2         4      David  Assistant           2
3         5        Eva     Intern           4